.App {
    text-align: center;
}

.App-logo {
    height: 80px;
}

.App-header {
    background-color: cadetblue;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

button {
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input {
    font-size: 16px;
}

li {
    cursor: pointer
}